# ObservaKit Backend — Python Dependencies
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
apscheduler>=3.10.4
prometheus-client>=0.20.0
httpx>=0.27.0
pyyaml>=6.0.1
python-dotenv>=1.0.1
alembic>=1.13.0
tenacity>=8.2.0
soda-core-postgres>=3.0.0
great-expectations>=0.18.0
